############################################################
# Logger-Settings
############################################################
# Global properties
############################################################
.level=ALL
handlers=java.util.logging.FileHandler,java.util.logging.ConsoleHandler

############################################################
# Handler specific properties.
# Describes specific configuration info for Handlers.
############################################################
java.util.logging.FileHandler.level=INFO
java.util.logging.FileHandler.formatter=ch.hsr.objectCaching.util.LineFormatter
java.util.logging.FileHandler.limit=5000000
java.util.logging.FileHandler.count=1
java.util.logging.FileHandler.pattern=client.log
java.util.logging.FileHandler.append=true

############################################################
# Handler specific properties.
# Describes specific configuration info for Handlers.
############################################################
java.util.logging.ConsoleHandler.level=INFO
java.util.logging.ConsoleHandler.formatter=ch.hsr.objectCaching.util.LineFormatter

############################################################
# Facility specific properties.
# Provides extra control for each logger.
############################################################
#Packages
#Classes